<?=echoBlock('head')?>
<!--section class="row row2">
    <div class="row2-gray"></div>
    <div class="row2-green"></div>
    <div class="container clearfix">
        <div class="col-sm-12 col-md-6">
            <h2>Преимущества</h2>
            <div class="flower">
                <ul>
                    <li>
                        <b>Удобное заполение данных</b>;
                    </li>
                    <li>
                        <b>Печать документов</b>;
                    </li>
                    <li>
                        <b>Хранение реквизитов</b>.

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row2-border">
                <p>
                    Предлагаем Вам воспользоваться сервисом для работы с первичной бухгалтерией.
                </p>
                <ul>
                    <li><b>Удобное заполнение</b></li>
                    <li><b>Печать документов</b></li>
                    <li><b>Возможность хранения документов</b></li>
                </ul>
            </div>
        </div>
    </div>
</section-->
<//?=echoBlock('primenenie')?>
<//?=echoBlock('zakaz')?>
<section class="row row5" id="kupit_sok_chistotela">
    <div class="container clearfix">
        <div class="col-sm-12 col-md-12">
            <h3>КАК ВОСПОЛЬЗОВАТЬСЯ?</h3>
            <div class="gutter">
                <div class="col-md-3 col-sm-3">
                    <a href="/user/login.php">
                        <div class="icon-wrapper"></div>
                        <p>
                            Зарегистрируйтесь<br>
                            на нашем сайте
                        </p>
                    </a>
                </div>

                <div  class="col-md-3 col-sm-3">

                        <div class="icon-wrapper"></div>
                        <p>
                            Заполняйте формы<br>
                            документов
                        </p>

                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="icon-wrapper"></div>
                    <p>
                        Печатайте документы<br>
                    </p>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="icon-wrapper"></div>
                    <p>
                        Сохраняйте документы<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section class="row row6">
    <div class="container clearfix">
        <div class="col-sm-12 col-md-12">
            <h3>
                Для Вашего здоровья выжат из травы,<br>
                собранной в заповеднике
            </h3>
            <a href="/kupit" class="button button2">Купить сок чистотела</a>
        </div>
    </div>
</section-->
<section class="row row7" id="about">
<//?=echoBlock('slider')?>
</section>
<?=echoBlock('contacts')?>
