<section class="row row1">
  <div class="row1-left"></div>
  <div class="row1-white"></div>
  <div class="row1-right"></div>
  <div class="container clearfix">
    <div class="col-sm-12 col-md-6">
      <h1>
        Первичная<br>
        бухгалтерия
      </h1>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="slogan-text">
        <h3>
          Лучший помощник<br>
          в ведении первичной бухгалтерии
        </h3>
        <!--p>
          Ощутите всю силу природных растений<br>
          с натуральным соком чистотела
        </p-->
        <a href="#" class="button button1">Узнать подробнее</a>
      </div>
    </div>
  </div>
</section>
<?if (in_array($data['url'], ['', 'about'])) { ?><div class="corner-leaf"></div><? } ?>
